@import "../../comman/colors.scss";

.movie-list ,.show-list {
    margin: 20px 0px;

    h2 {
        color: $font-secondary-color;
        margin-bottom: 10px;
        font-weight: bolder;
    }



}

.movie-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    grid-gap:15px;
    margin-bottom: 30px;
  
}

